# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual Environments
venv/
.env/
ecosort_env/

# -----------------------------
# Environment Variables
# -----------------------------
.env
.env.*

# -----------------------------
# Node / React
# -----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------
# Dataset / Training Files
# -----------------------------
train/
valid/
test/
*.zip
*.tar
*.gz

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# OS / System Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# IDE / Editor
# -----------------------------
.vscode/
.idea/
README.dataset.txt
README.roboflow.txt
# -----------------------------
# Notes
# -----------------------------
# best.pt is intentionally NOT ignored (model is included)